NEXT_PUBLIC_APP_NAME=Jaeger Enterprise Group
JAEGER_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyVFlrEgJIK_jeSfkoeD_CmgItNIOk1ZgzRaKLL-yoBn-1y8CkeIwnz0L4_Sn_g7ot9/exec
JAEGER_SHEETS_ID=1hw4q-zu2RB56FddBzV5Jj5-_rz45t6C9gbGaVpAQM7w
